<section ng-controller=AvailabilitiesListController id="app">
  <h2 align="center">{{vm.authentication.user.firstName}} {{vm.authentication.user.lastName}} Update Availability</h2>
<script>
  var timer = setInterval(checkDataReady, 100);
  var newTimer;
  var data;
  var mode="Add or Delete Mode";
  function checkDataReady(){
        angular.element(document.getElementById('app')).scope().newInfo();
        data =angular.element(document.getElementById('app')).scope().data;
        var userInfo =angular.element(document.getElementById('app')).scope().user;
  if (data&&userInfo&&(user.firstName!=null)){
    clearInterval(timer);
    var name = user.firstName+' '+user.lastName;
    var preData = data;
    // for(var i = 0;i<data.length;i++){

    //   if(name!=data[i].trainer){
    //     data.splice(i,1);
    //   }
    // }
    //$(document).ready(function() {
        console.log(data);

      $('#calendar').fullCalendar({
      header: {
        left: '',
        center: '',
        right: 'agendaWeek,agendaDay'
      },
      defaultView: "agendaWeek",
      defaultDate: '2017-10-12',
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectHelper: true,
      columnFormat: "ddd",
      allDaySlot: false,
      select: function(start, end) {
        if(mode=="Delete Mode"){
              alert("Entering Add Mode, you must click the time again to create");
              window.location.reload(true); 
        }
        var title = name+" Available";//prompt('Event Title:');
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
          // stick? = true
          //data.push(eventData);
          document.getElementById("eventForm").title.value = name+" Available";
          $("#title").trigger("input");
          document.getElementById("eventForm").trainer.value = name;
          $("#trainer").trigger("input");
          document.getElementById("eventForm").start.value = start;
          $("#start").trigger("input");
          document.getElementById("eventForm").end.value = end;
          $("#end").trigger("input");
          document.getElementById("eventForm").details.value = 'No details';
          $("#details").trigger("input");
          document.getElementById("submitButton").click();
          $('#calendar').fullCalendar('renderEvent', eventData, true); 


        }
        $('#calendar').fullCalendar('unselect');

      },
      eventClick: function(calEvent, jsEvent, view) {
          //if (confirm('Are you sure you want to delete this availability?')){
              var foundID=false;
              for(var i=0;i<data.length;i++){
                if(data[i]._id==calEvent._id){
                  foundID=true;
                }
              }
              if(foundID){
                angular.element(document.getElementById('app')).scope().toDeleteNoWin(calEvent._id);
                $('#calendar').fullCalendar('removeEvents',calEvent._id);
              }
              else{
                alert("Entering Delete Mode, you must click the time again to delete");
                window.location.reload(true); 
              }
              mode = "Delete Mode";
              document.getElementById("modeText").innerHTML = mode;
          //}
      },
      editable: false,
      eventLimit: true,
      events:data,
      });




      //});
    }
    }
    function clearAll(){
      for(var i = 0;i<data.length;i++){
              angular.element(document.getElementById('app')).scope().toDeleteNoWin(data[i]._id);
              window.location.reload(true); 

      }
    }
  </script>
  <style>
    body {
      padding: 0;
      font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
      font-size: 14px;
    }
    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }
  </style>
<div align="center">
<button  onclick="clearAll()" style='display: inline-block; background-color: red; color:white;'>Clear All</button>
<h4  id="modeText" style='display: inline-block;''>Add or Delete Mode</h4>
</div>
  <div class="col-lg-9" >
    <div id='calendar'></div>
  </div>
  <div class="page-header">
  </div>
  <div class="col-md-12" id="toHide">
    <form id ="eventForm" name="vm.form.availabilityForm" class="form-horizontal" ng-submit="vm.save(vm.form.availabilityForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Name</label>
          <input name="title" type="text" ng-model="vm.availability.title" id="title" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.availabilityForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendarlist name is required.</p>
          </div>
          <label class="control-label" for="trainer">Trainer</label>
          <select ng-model="User" ng-options="x for x in User">
          </select>
          <input name="trainer" type="" ng-model="vm.availability.trainer" id="trainer" class="form-control" placeholder="Trainer" required>
          <div ng-messages="vm.form.availabilityForm.trainer.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendarlist trainer is required.</p>
          </div>
          <label class="control-label" for="start">Start</label>
          <input name="start" type="text" ng-model="vm.availability.start" id="start" class="form-control" placeholder="Start" required>
          <div ng-messages="vm.form.availabilityForm.start.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendarlist start is required.</p>
          </div>
          <label class="control-label" for="end">End</label>
          <input name="end" type="text" ng-model="vm.availability.end" id="end" class="form-control" placeholder="End" required>
          <div ng-messages="vm.form.availabilityForm.end.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendarlist end is required.</p>
          </div>
          <label class="control-label" for="details">Details</label>
          <input name="details" type="text" ng-model="vm.availability.details" id="details" class="form-control" placeholder="Details">

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default" id="submitButton">
          {{vm.availability._id ? 'Update' : 'Create'}}
          </button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  <script type="text/javascript">    $('#toHide').hide();</script>
</section>
