<section ng-controller=AvailabilitiesListController id="app">
  <h2 align="center">Availabilities</h2>
  <p align='center'> Refresh or change tabs if UI does not load.</p>
  <div ng-controller=UserListController id="userApp">
  </div>
  <script>
    var data;
    var renderedUsers = [];
    var showAll = false;
    var timer = setInterval(checkDataReady, 100);
    var userList;
    var userListArray = [];

    function checkDataReady() {
      userList = angular.element(document.getElementById('userApp')).scope().users;
      data = angular.element(document.getElementById('app')).scope().data;
      var userInfo = angular.element(document.getElementById('app')).scope().user;
      if (data) {
        clearInterval(timer);
        var nameMap = {};
        var nameList = [];
        var colorlist = ["#e6194b", "#3cb44b", "#0082c8", "#f58231", "#911eb4", "#f032e6", "#008080", "#aa6e28", "#800000", "#808000", "#000080"];
        var counter = 0;
        for (var j = 0; j < userList.length; j++) {
          var thisName = userList[j].firstName + " " + userList[j].lastName;
          userListArray.push(thisName);
        }
        for (var i = 0; i < data.length; i++) {
          if (!(data[i].trainer in nameMap)) {
            if ((userListArray.indexOf(data[i].trainer) > -1)) {
              nameMap[data[i].trainer] = colorlist[counter];
              data[i].backgroundColor = colorlist[counter];
              nameList.push(data[i].trainer);
              counter++;
            }
          } else {
            data[i].backgroundColor = nameMap[data[i].trainer];
          }
        }
        var btn = document.createElement("div");
        btn.className = 'btnn'; // Create a <button> element
        btn.innerHTML = "<button id='allUsers' onclick='showUser(this.id)' style='background: white;'>Show All</button>";
        document.getElementById('userBtns').appendChild(btn);
        var btn = document.createElement("div");
        btn.className = 'btnn'; // Create a <button> element
        btn.innerHTML = "<button id='hideAllUsers' onclick='showUser(this.id)' style='background: white;'>Hide All</button>";
        document.getElementById('userBtns').appendChild(btn);
        for (var i = 0; i < nameList.length; i++) {
          if (nameList[i] != '') {
            var btn = document.createElement("div");
            btn.className = 'btnn'; // Create a <button> element
            var color = nameMap[nameList[i]];
            if (!nameMap[nameList[i]]) {
              color = "black";
            }
            btn.innerHTML = "<button id='" + nameList[i] + "' onclick='showUser(this.id)' style='background:" + color + ";color:white'>" + nameList[i] + "</button>";
            //var t = document.createTextNode(nameList[i]);       // Create a text node
            //btn.appendChild(t);                                // Append the text to <button>
            document.getElementById('userBtns').appendChild(btn);
          }
        }
        $(document).ready(function() {
          //console.log(data);
          $('#calendar').fullCalendar({
            header: {
              left: '',
              center: '',
              right: 'agendaWeek,agendaDay'
            },
            defaultView: "agendaWeek",
            defaultDate: '2017-10-12',
            navLinks: true, // can click day/week names to navigate views
            selectable: false,
            selectHelper: false,
            columnFormat: "ddd",
            editable: false,
            eventLimit: true,
            events: null,
            allDaySlot: false,
          });
        });
      }
    }

    function showUser(userName) {

      if (userName != "allUsers" && userName != "hideAllUsers" && !showAll) {
        var userData = data;
        var newData = [];
        if (renderedUsers.indexOf(userName) == -1) {
          for (var i = 0; i < userData.length; i++) {
            if (userName == userData[i].trainer) {
              newData.push(userData[i]);
            }
          }
          $("#calendar").fullCalendar('renderEvents', newData, false);
          renderedUsers.push(userName);
        }
      } else if (userName != "hideAllUsers" && showAll == false) {
        $("#calendar").fullCalendar('removeEvents');
        $("#calendar").fullCalendar('renderEvents', data, false);
        showAll = true;
      } else if (userName == "hideAllUsers") {
        $("#calendar").fullCalendar('removeEvents');
        showAll = false;
        renderedUsers = [];
      }
    }
  </script>
  <style>
    body {
      padding: 0;
      font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
      font-size: 14px;
    }

    #calendar {
      min-width: 800px;
      width: 1000px;
      margin: 0 auto;
    }

    .btnn {
      display: inline-block;
    }
  </style>

  <div id="userBtns" align="center"></div>
  <div class="col-lg-9">
    <div id='calendar'></div>
  </div>
  <div class="page-header">
  </div>
  <div class="col-md-12" id="toHide">
    <form id="eventForm" name="vm.form.availabilityForm" class="form-horizontal" ng-submit="vm.save(vm.form.availabilityForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Name</label>
          <input name="title" type="text" ng-model="vm.availability.title" id="title" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.availabilityForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendarlist name is required.</p>
          </div>
          <label class="control-label" for="trainer">Trainer</label>
          <select ng-model="User" ng-options="x for x in User">
          </select>
          <input name="trainer" type="" ng-model="vm.availability.trainer" id="trainer" class="form-control" placeholder="Trainer" required>
          <div ng-messages="vm.form.availabilityForm.trainer.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendarlist trainer is required.</p>
          </div>
          <label class="control-label" for="start">Start</label>
          <input name="start" type="text" ng-model="vm.availability.start" id="start" class="form-control" placeholder="Start" required>
          <div ng-messages="vm.form.availabilityForm.start.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendarlist start is required.</p>
          </div>
          <label class="control-label" for="end">End</label>
          <input name="end" type="text" ng-model="vm.availability.end" id="end" class="form-control" placeholder="End" required>
          <div ng-messages="vm.form.availabilityForm.end.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendarlist end is required.</p>
          </div>
          <label class="control-label" for="details">Details</label>
          <input name="details" type="text" ng-model="vm.availability.details" id="details" class="form-control" placeholder="Details">

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default" id="submitButton">
          {{vm.availability._id ? 'Update' : 'Create'}}
          </button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  <script type="text/javascript">
    $('#toHide').hide();
  </script>
</section>
