<section class="row" ng-controller="PasswordController">
  <h3 class="col-md-12 text-center">Restore your password</h3>
  <p class="small text-center">Enter your account username.</p>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="forgotPasswordForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enter a username.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong ng-bind="success"></strong>
        </div>
      </fieldset>
    </form>
  </div>

  <script>
    const nodemailer = require('nodemailer');

    // Generate test SMTP service account from ethereal.email
    // Only needed if you don't have a real mail account for testing
    nodemailer.createTestAccount = function(err, account){
      // create reusable transporter object using the default SMTP transport
      var transporter = nodemailer.createTransport({
        host: 'smtp.ethereal.email',
        port: 587,
        secure: false, // true for 465, false for other ports
        auth: {
          user: account.user, // generated ethereal user
          pass: account.pass  // generated ethereal password
        }
      });

    // setup email data with unicode symbols
    var mailOptions = {
      from: 'lisbecg@gmail.com', // sender address
      to: 'lisbecg@gmail.com', // list of receivers
      subject: 'Allegiance Athletics - Forgot Password ✔', // Subject line
      text: 'Hello world?', // plain text body
      html: '<b>Hello world?</b>' // html body
    };

    // send mail with defined transport object
    transporter.sendMail = function(mailOptions, error, info) {
      if (error) {
        return console.log(error);
      }
      console.log('Message sent: %s', info.messageId);
      // Preview only available when sending through an Ethereal account
      //console.log('Preview URL: %s', nodemailer.getTestMessageUrl(info));

      // Message sent: <b658f8ca-6296-ccf4-8306-87d57a0b4321@blurdybloop.com>
      // Preview URL: https://ethereal.email/message/WaQKMgKddxQDoou...
      };
    };
  </script>
</section>
