<section>
<div style="width: 100%; overflow: hidden;">
  <div>
    <h1>Teaching Blogs</h1>
  </div>

  <div style="float: right; z-index: 0; margin-left: 10px; margin-bottom: 10px;" ng-if="!vm.blogs.$resolved || vm.blogs.length">
    <button class="btn btn-primary"><a style="color: #FFF;" ui-sref="blogs.create">New Entry</a></button>
  </div>
  <!-- Search Bar-->
  <div class="input-group add-on" style="max-width: 400px; margin-bottom: 10px; float: right;">
    <input type="text" ng-model="Blog_Input.name" placeholder="Search Keywords..." class="form-control">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </div>
  </div>
</div>

<!-- List the blog entries -->
<div class="scroll">
<div class="list-group">
  <a ng-repeat="blog in vm.blogs | filter:Blog_Input" ui-sref="blogs.view({ blogId: blog._id })" class="list-group-item">
    <h4 class="list-group-item-heading" ng-bind="blog.name"></h4>
    <small class="list-group-item-text">
      Posted on
      <span ng-bind="blog.created | date:'mediumDate'"></span>
      by
      <span ng-if="blog.user" ng-bind="blog.user.displayName"></span>
      <span ng-if="!blog.user">Deleted User</span>
    </small>
  </a>
</div>
</div>

<!-- In case there are no blog entries-->
<div class="alert alert-warning text-center" ng-if="vm.blogs.$resolved && !vm.blogs.length">
  No Blogs yet, why don't you <a ui-sref="blogs.create">create one</a>?
</div>
<div style="margin-left: 1000px;" ng-if="!vm.blogs.$resolved || vm.blogs.length">
</div>

</section>
