<style media="screen">

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #f99b3e;
    color: white;
    /*text-shadow: 1px 1px 1px #666;*/
}
.nav-sidebar .active a:hover {
    background-color: #82578d;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

</style>

<section ng-controller="SettingsController">
  <div class="page-header">
    <h1>Settings</h1>
  </div>

  <div class="row">
      <div class="col-sm-3">
          <nav class="nav-sidebar">
              <ul class="nav">
                <li class="nav-divider"></li>
                <li ui-sref-active="active">
                  <a ui-sref="settings.profile">Edit Profile
                    <div class="col-sm-3">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </div>
                    </a>
                </li>
                <li ui-sref-active="active">
                  <a ui-sref="settings.picture"> Change Profile Picture
                    <div class="col-sm-3">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </div></a>
                </li>
                <li ui-sref-active="active" ng-show="user.provider === 'local'">
                  <a ui-sref="settings.password">Change Password
                    <div class="col-sm-3">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </div>
                  </a>
                </li>
                  <li class="nav-divider"></li>
                  <!-- <li><a href="javascript:;"><i class="glyphicon glyphicon-off"></i> Other..</a></li> -->
              </ul>
          </nav>
      </div>
      <div class="col-sm-8">
        <div class="col-sm-12 col-md-12 settings-view">
          <div ui-view></div>
        </div>
      </div>

  </div>



</section>
