body, html {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

.content {
  margin-top: 20px;
}
.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.navbar-custom {
    background-color: #82578D;
    color: transparent;
    border-radius:0;
    padding: 8px;
    border-bottom: 1px solid #4F3751;
}

.navbar-custom .navbar-nav > li > a {
    color:#ffffff;
    font-size: 13px;
    font-weight: 600;
    text-shadow: none;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open > a {
    color: #FF7E00;
    text-decoration: none;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color: #FF7E00;
    text-decoration: none;
    text-shadow: none;
    font-weight: 500;
}

.navbar-custom .navbar-toggle {
    background-color: #eeeeee;
}
.navbar-custom .icon-bar {
    background-color: #FF7E00;
}

.intro {
  text-align: center;
}

.intro-text {
  margin-left: 25px;
  font-size: 40px;
  font-family: 'Nunito Sans', 'Helvetica', sans-serif;
  font-weight: 200;
  color: #FF7E00;
  letter-spacing: -2px;
}

.intro img {
  background-color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.page-container {
  background-color: #FFFFFF;
  padding: 20px;
  width: 80%;
  margin: 0 auto 0 auto;
}

.page-title {
  border-bottom: 1px solid #DDD;
  border-bottom-width: 80%;
}

.homescroll a {
  border: none;
}

.homescroll h3 {
  font-weight: 700;
}

.create {
  font-size: 20px;
  color: #FF7E00;
}

.create:hover {
  color: #DE6E00;
}

.list-group-item {
  border: 0;
}

.btn-primary{
  background: #f99b3e; /*orange*/
  color: white;
  border-color: #f99b3e;

}
.btn-primary:hover{
  background: #eb9316; /*darker orange*/
  color: white;
  border-color: #eb9316;
}

/*used in change-profile-picture.client.view*/
.btn-file
{
  background: #f99b3e;
  color: white;
  border-color: #f99b3e;
  font-family: 'Nunito Sans', 'Helvetica', sans-serif;
}
.btn-file:hover{
  background: #eb9316;
  color: white;
  border-color: #eb9316;
  font-family: 'Nunito Sans', 'Helvetica', sans-serif;
}
