<section>
  <div class="page-header">
    <h1>{{vm.calendarview._id ? 'Edit Class' : 'New Class'}}</h1>
  </div>
  <div ng-controller=UserListController id="userApp">
    <script>
      var test;
      var timer = setInterval(checkDataReady, 100);

      //changes the color in color
      function giveSelection(selValue) {
        //document.getElementById('color').innerHTML = '';
        for(var i =0; i < test.length;i++){
          if (test[i].username == selValue){
            document.getElementById('color').value = '';
            document.getElementById('color').value = test[i].favoriteColor;
            document.getElementById('trainerName').value = '';
            document.getElementById('trainerName').value = test[i].displayName;
            $("#trainerName").trigger("input");
            $("#color").trigger("input");
          }
        }

      }


      //creates the options in trainer selectg
      function checkDataReady() {

        test = angular.element(document.getElementById('userApp')).scope().users;
        //var userData = angular.element(document.getElementById('app')).scope().userData;
        if (test) {
          clearInterval(timer);
          $(document).ready(function() {
            (function() { // don't leak
              var elm = document.getElementById('trainer'), // get the select
                df = document.createDocumentFragment();
              for (var i = 0; i < test.length; i++) { // loop
                var option = document.createElement('option');
                option.value = test[i].username; // set the value property
                option.appendChild(document.createTextNode(test[i].displayName)); // set the textContent in a safe way.
                df.appendChild(option); // append the option to the document fragment
              }
              elm.appendChild(df); // append the document fragment to the DOM. this is the better way rather than setting innerHTML a bunch of times (or even once with a long string)
            }());
          });
        }
      }

      function repeatEvent(){

      }
      //setTimeout(checkDataReady,1000);
    </script>
  </div>

  <div class="col-md-12">
    <form name="vm.form.calendarviewForm" class="form-horizontal" ng-submit="vm.save(vm.form.calendarviewForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>

          <!-- Sudo Garbage to get rid of error -->

          <div ng-show="vm.authentication.user.roles == 'admin'">
            <label class="control-label" for="title">Class Name</label>
            <input name="title" type="text" ng-model="vm.calendarview.title" id="title" class="form-control" placeholder="Title" required>
            <div ng-messages="vm.form.calendarviewForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Class name is required.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8" ng-if="vm.authentication.user.roles == 'admin'">
              <label class="control-label" for="trainer">Trainer</label>
              <select onchange="giveSelection(this.value)" name="trainer" type="" ng-model="vm.calendarview.trainer" id="trainer" class="form-control" placeholder="Trainer" required></select>
              <div ng-messages="vm.form.calendarviewForm.trainer.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Trainer is required.</p>
              </div>
            </div>

            <div class="" ng-show="1==-1">
              <label class="control-label" for="trainerName">Name</label>
              <input  name="trainerName" type="text" ng-model="vm.calendarview.trainerName" id="trainerName" class="form-control" placeholder="Trainer Name">
            </div>

            <div class="col-md-4" ng-if="vm.authentication.user.roles == 'admin'">
              <label class="control-label" for="color">Color</label>
              <input  name="color" type="text" ng-model="vm.calendarview.color" id="color" class="form-control" placeholder="Color">
            </div>
          </div>

          <div class='row' ng-if="vm.authentication.user.roles == 'admin'">
            <div class='col-md-4'>
              <label class="control-label" for="start">Start</label>
              <div class='input-group date' ng-model="vm.calendarview.start" id='datetimepicker1'>
                <input name="start" type='text' ng-model="vm.calendarview.start" id="start" class="form-control" placeholder="Start" required/>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
              <div ng-messages="vm.form.calendarviewForm.start.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Start time is required.</p>
              </div>
            </div>

            <div class='col-md-4'>
              <label class="control-label" for="end">End</label>
              <div class='input-group date' ng-model="vm.calendarview.end" id='datetimepicker2'>
                <input name="end" type='text' ng-model="vm.calendarview.end" id="end" class="form-control" placeholder="End" required />
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>

              <div ng-messages="vm.form.calendarviewForm.end.$error" role="alert">
                <p class="help-block error-text" ng-message="required">End time is required.</p>
              </div>
            </div>

            <div class='col-md-4'>
              <label class="control-label" for="repeat">Repeat</label>
              <div class='input-group date' ng-model="vm.calendarview.repeat" id='datetimepicker3'>
                <input name="repeat" type='text' ng-model="vm.calendarview.repeat" id="repeat" class="form-control" placeholder="Repeat" onclick="repeatEvent()"/>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>

              </div>

              <div ng-messages="vm.form.calendarviewForm.repeat.$error" role="alert">
                <p class="help-block error-text" ng-message="required">End time is required.</p>
              </div>
            </div>

            <script type="text/javascript">
              $(function() {
                $('#datetimepicker1').datetimepicker({
                  sideBySide: true,
                });
                $("#start").trigger("input");
                $('#datetimepicker2').datetimepicker({
                  sideBySide: true,
                  useCurrent: false //Important! See issue #1075
                });
                $("#end").trigger("input");
                $("#datetimepicker1").on("dp.change", function(e) {
                  $("#datetimepicker1").trigger("input");
                  $("#start").trigger("input");
                  $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                });
                $("#datetimepicker2").on("dp.change", function(e) {
                  $("#datetimepicker2").trigger("input");
                  $("#end").trigger("input");
                  $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                });
                $('#datetimepicker3').datetimepicker({
                  sideBySide: true,
                  useCurrent: false //Important! See issue #1075
                });
                $("#repeat").trigger("input");
                $("#datetimepicker3").on("dp.change", function(e) {
                  $("#datetimepicker3").trigger("input");
                  $("#repeat").trigger("input");
                  $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                });
              });
            </script>
          </div>

          <div ng-if="vm.authentication.user.roles == 'admin'">
            <label class="control-label" for="details">Details</label>
            <input name="details" type="text" ng-model="vm.calendarview.details" id="details" class="form-control" placeholder="Details">
          </div>

          <div ng-if="vm.authentication.user.roles == 'user'">
            <label class="control-label" for="requestOff">Request Off Reason</label>
            <input name="requestOff" type="text" ng-model="vm.calendarview.requestOff" id="requestOff" class="form-control" placeholder="Reason to Request Off">
          </div>


          <div ng-if="vm.calendarview._id && (vm.authentication.user.roles == 'user' || vm.authentication.user.roles == 'admin')">
            </br>
            <label>Request Off?</label>
            <label class="check">
            <input name="requestOffBool" type="checkbox" ng-model="vm.calendarview.requestOffBool" id="requestOffBool" class="form-control">
            <span class="checkmark"></span>
          </label>
          </div>

        </div>

        </br>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.calendarview._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-12" ng-show="vm.authentication.user.roles == 'admin'">
    <!--change this to the site name-->
    <iframe style="width:100%;height:50em;" src="/availabilities">
  </iframe>
  </div>
  <style>
    /* The check */

    .check {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    /* Hide the browser's default checkbox */

    .check input {
      position: absolute;
      opacity: 0;
    }
    /* Create a custom checkbox */

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }
    /* On mouse-over, add a grey background color */

    .check:hover input~.checkmark {
      background-color: #ccc;
    }
    /* When the checkbox is checked, add a blue background */

    .check input:checked~.checkmark {
      background-color: #2196F3;
    }
    /* Create the checkmark/indicator (hidden when not checked) */

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    /* Show the checkmark when checked */

    .check input:checked~.checkmark:after {
      display: block;
    }
    /* Style the checkmark/indicator */

    .check .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  </style>
</section>
