<section>
  <div ng-controller=CalendarviewsListController id="app">

    <style>
      h1 {
        text-align: center;
      }

      h2 {
        text-align: center;
      }

      .pendingReq {
        max-width: 300px;
        border: 2px solid black;
        margin: 0 auto;
        margin-bottom: -2px;
      }

      .listOfReq {
        border: 2px solid black;
      }
    </style>
    <div class="reqHead">
      <h1>Requests</h1>
    </div>
    <div class="listOfReq">
      <table class="table table-striped table-hover">
        <tr style="background-color:lightblue;">
          <th>Staff</th>
          <th>Class</th>
          <th>Shift Time</th>
          <th>Reason</th>
        </tr>
        <tr ng-repeat="calendar in vm.calendarviews" ng-if="calendar.requestOffBool" ui-sref="calendarviews.view({ calendarviewId: calendar._id })" style="cursor: pointer;">
          <a>
            <td>
              <span ng-if="calendar.user" ng-bind="calendar.user.displayName"></span>
              <span ng-if="!calendar.user">Deleted User</span>
            </td>
            <td>
              {{calendar.title}}
            </td>
            <td>
              {{calendar.start}}
            </td>
            <td>
              {{calendar.requestOff}}
            </td>
          </a>
        </tr>
      </table>
    </div>
  </div>
  <!--div class="alert alert-warning text-center" ng-if="vm.calendarviews.$resolved && !vm.calendarviews.length">
  No Events yet, do you want to <a ui-sref="calendarviews.create">create one</a>?
</div>
<!div class="list-group">
  <a ng-repeat="calendarview in vm.calendarviews"
     ui-sref="calendarviews.view({ calendarviewId: calendarview._id })"
     class="list-group-item">
    <small class="list-group-item-text">
      Posted on
      <span ng-bind="calendarview.created | date:'mediumDate'"></span>
      by
      <span ng-if="calendarview.user" ng-bind="calendarview.user.displayName"></span>
      <span ng-if="!calendarview.user">Deleted User</span>
    </small>
    <h4 class="list-group-item-heading" ng-bind="calendarview.title"></h4>
  </a>
</div-->
  <!--div style="text-align:center;" ng-if="vm.calendarviews.length">
    <h1>Requested Off Events</h4>
    <ui ng-repeat="calendar in vm.calendarviews | filter:'!requestOffBool'" ui-sref="calendarviews.view({ calendarviewId: calendar._id })">
      <h4>{{calendar.trainer}}</h4>
      <span>{{calendar.title}}</span>
      <span>{{calendar.start}}</span>
      <span>{{calendar.end}}</span>
      <div></div>
    </li>
  </div-->
</section>
