<section>
  <div class="page-header" style="text-align:center;">
    <div class='row'>
      <table class="table">
        <tr>
          <th style="text-align:center;">CLASS</th>
          <th style="text-align:center;">TRAINER</th>
          <th style="text-align:center;">START TIME</th>
          <th style="text-align:center;">END TIME</th>
        </tr>
        <tr>
          <td ng-bind="vm.calendarview.title"></td>
          <td ng-bind="vm.calendarview.trainerName"></td>
          <td ng-bind="vm.calendarview.start"></td>
          <td ng-bind="vm.calendarview.end"></td>
        </tr>
      </table>
    </div>

    <div class='row'>
      <table class="table">
        <tr>
          <th style="text-align:center;">Is request off true?:</th>
          <th style="text-align:center;">Reason for requesting off:</th>
        </tr>
        <tr>
          <td ng-bind="vm.calendarview.requestOffBool"></td>
          <td ng-bind="vm.calendarview.requestOff"></td>
        </tr>
      </table>
    </div>

    <div class='row'>
      <h5 style="font-weight:bold;">Details of the class:</h5>
      <h5 ng-bind="vm.calendarview.details"></h5>
    </div>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ui-sref="calendarviews.edit({ calendarviewId: vm.calendarview._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()" ng-if="vm.authentication.user.roles == 'admin'">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.calendarview.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.calendarview.user"
            ng-bind="vm.calendarview.user.displayName"></span>
      <span ng-if="!vm.calendarview.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.calendarview.content"></p>
</section>
