<section>
  <div class="page-header">
    <h1 ng-bind="vm.calendarview.title"></h1>
    <h4 ng-bind="vm.calendarview.start"></h4>
    <h4 ng-bind="vm.calendarview.end"></h4>
    <h4 ng-bind="vm.calendarview.details"></h4>
    <h4 ng-bind="vm.calendarview.requestOff"></h4>
    <h4 ng-bind="vm.calendarview.requestOffBool"></h4>


  </div>
  <div class="pull-right"
       >
    <a class="btn btn-primary"
       ui-sref="calendarviews.edit({ calendarviewId: vm.calendarview._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()" ng-if="vm.authentication.user.roles == 'admin'">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.calendarview.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.calendarview.user"
            ng-bind="vm.calendarview.user.displayName"></span>
      <span ng-if="!vm.calendarview.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.calendarview.content"></p>
</section>
